body
{
    background-color: #323637;
    display: flex;
    align-items: center;
}

#Name
{
    font-weight: bold;
    color: rgb(133, 183, 197);
    text-align: center;
}

.Baground
{
    background-color: #323637;
    border-radius: 10px;
}

.Container
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 34.5%;
    border: 2px solid rgba(0, 0, 0, 0.3);
    width: 75px;
    height: 75px;
}

#img
{
    color: transparent;
}

#UserStuff
{
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

input[type="text"], input[type="int"]
{
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    color: rgb(167, 202, 211);
    background-color: #3f4344;
    font-weight: bold;
}

#prettyplease
{
    color: rgb(211, 170, 167);
    text-align: center;
    font-weight: bold;
}

.button
{
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    color: rgb(167, 202, 211);
    background-color: #3f4344;
    font-weight: bold;
}

.text
{
    font-weight: bold;
    color: rgb(167, 202, 211);
}

input[type="file"]::file-selector-button 
{
    font-weight: bold;
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    color: rgb(167, 202, 211);
    background-color: #3f4344;
    position: relative;
    left: 33%;
    margin-top: 10px;
}

#VisualImage
{
    position: absolute;
    height: 50px;
    width: auto;
    max-width: 50px;
    top: 17%;
}



button
{
    width: 100px;
    height: 30px;
}